@font-face {
  font-family: "TeleNeo";
  src: url("../assets/fonts/teleneo/web-v1.7/teleneoweb-regular.woff2")
      format("woff2"),
    url("../assets/fonts/teleneo/web-v1.7/teleneoweb-regular.woff2")
      format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "TeleNeo";
  src: url("../assets/fonts/teleneo/web-v1.7/teleneoweb-bold.woff2")
      format("woff2"),
    url("../assets/fonts/teleneo/web-v1.7/teleneoweb-bold.woff2") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "TeleNeo";
  src: url("../assets/fonts/teleneo/web-v1.7/teleneoweb-extrabold.woff2")
      format("woff2"),
    url("../assets/fonts/teleneo/web-v1.7/teleneoweb-extrabold.woff2")
      format("woff");
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

@mixin font-tokens {
  --magentaa11y-font-family-body: BlinkMacSystemFont, -apple-system, Roboto,
    Helvetica, "Segoe UI", Arial, sans-serif; /* Used for body copy */
  --magentaa11y-font-family-display: TeleNeo; /* Reserved for headline display */
  --magentaa11y-font-family-header: TeleNeo; /* Reserved for headers */

  --magentaa11y-font-weight-regular: 400; /* Normal weight */
  --magentaa11y-font-weight-bold: 700; /* Bold weight */
  --magentaa11y-font-weight-extrabold: 800; /* Extra bold weight */
}
