@mixin material-overrides {
  --md-sys-color-primary: var(--magentaa11y-color-brand-primary-400);
  --md-sys-color-on-primary: var(--magentaa11y-color-brand-grayscale-white);
  --md-sys-color-primary-container: var(
    --magentaa11y-color-brand-secondary-100
  );
  --md-sys-color-on-primary-container: var(
    --magentaa11y-color-brand-secondary-600
  );

  --md-sys-color-secondary: var(--magentaa11y-color-brand-secondary-300);
  --md-sys-color-on-secondary: var(--magentaa11y-color-brand-grayscale-white);
  --md-sys-color-secondary-container: var(
    --magentaa11y-color-brand-secondary-100
  );
  --md-sys-color-on-secondary-container: var(
    --magentaa11y-color-brand-secondary-600
  );

  --md-sys-color-tertiary: var(--magentaa11y-color-brand-primary-300);
  --md-sys-color-on-tertiary: var(--magentaa11y-color-brand-grayscale-black);
  --md-sys-color-tertiary-container: var(--magentaa11y-color-brand-primary-100);
  --md-sys-color-on-tertiary-container: var(
    --magentaa11y-color-brand-primary-600
  );

  --md-sys-color-error: var(--magentaa11y-color-brand-status-critical-300);
  --md-sys-color-on-error: var(--magentaa11y-color-brand-grayscale-white);

  --md-sys-color-error-container: var(
    --magentaa11y-color-brand-status-critical-100
  );
  --md-sys-color-on-error-container: var(
    --magentaa11y-color-brand-status-critical-400
  );

  --md-sys-color-background: var(--magentaa11y-color-brand-grayscale-100);
  --md-sys-color-on-background: var(--magentaa11y-color-brand-grayscale-900);

  --md-sys-color-surface: var(--magentaa11y-color-brand-grayscale-white);
  --md-sys-color-on-surface: var(--magentaa11y-color-brand-grayscale-800);

  --md-sys-color-surface-variant: var(--magentaa11y-color-brand-grayscale-300);
  --md-sys-color-on-surface-variant: var(
    --magentaa11y-color-brand-grayscale-700
  );

  --md-sys-color-surface-bright: var(--magentaa11y-color-brand-grayscale-100);
  --md-sys-color-surface-dim: var(--magentaa11y-color-brand-grayscale-200);

  --md-sys-color-surface-container: var(
    --magentaa11y-color-brand-grayscale-200
  );
  --md-sys-color-surface-container-lowest: var(
    --magentaa11y-color-brand-grayscale-100
  );
  --md-sys-color-surface-container-low: var(
    --magentaa11y-color-brand-grayscale-300
  );
  --md-sys-color-surface-container-high: var(
    --magentaa11y-color-brand-grayscale-600
  );
  --md-sys-color-surface-container-highest: var(
    --magentaa11y-color-brand-grayscale-700
  );

  --md-sys-color-outline: var(--magentaa11y-color-brand-grayscale-500);
  --md-sys-color-outline-variant: var(--magentaa11y-color-brand-grayscale-400);

  --md-sys-color-inverse-surface: var(--magentaa11y-color-brand-grayscale-900);
  --md-sys-color-inverse-on-surface: var(
    --magentaa11y-color-brand-grayscale-100
  );
  --md-sys-color-inverse-primary: var(--magentaa11y-color-brand-primary-300);

  --md-sys-color-shadow: rgba(0, 0, 0, 0.25);
  --md-sys-color-scrim: rgba(0, 0, 0, 0.5);
}
