.how-to-test-checklist-item {
  table td {
    width: 50%;
    align-content: baseline;
  }
}

.keyboard-key {
  padding: 3px 6px;
  background: #eee;
  border-radius: 3px;
  outline: 1px solid #ddd;
  color: black;
}

example, 
.example {
  padding: 2rem;
  background: var(--color-code-block); /* Adapts to theme */
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: block;
  main {
    min-height:auto;
    display: block;
  }
}