.MagentaA11y__side-nav-toggle {
  --side-nav-background-color: #f7f2fa;

  top: var(--magentaa11y-spacing-size-40);
  right: calc(var(--magentaa11y-spacing-size-24) * -1);
  width: var(--magentaa11y-spacing-size-24);
  background-color: var(--side-nav-background-color);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;

  height: 100px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 0;
  z-index: 2;

  svg {
    width: 100%;
    height: auto;
  }

  &:active {
    box-shadow: var(--magentaa11y-elevation-onLight-shadow-near);
  }
}
