.MagentaA11y__nav-display {
  --magentaa11y-color--code-blocks: var(--magentaa11y-color-brand-accent-light);

  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 1280px;
  margin: auto;

  &__intro {
    text-align: center;
  }

  &__acceptance-criteria {
    &__actions {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__textarea {
    width: auto;
    resize: vertical;
    padding: 20px;
    min-height: 270px;
    border: 3px solid #eaeaea;
    border-radius: 16px;
  }

  &__other-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &--sub-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &--sub-item {
    box-shadow: var(--magentaa11y-elevation-onLight-shadow-near);
    border-radius: 16px;
  }

  &--sub-item-title {
    font-weight: var(--magentaa11y-font-weight-extrabold);
    font-size: var(--magentaa11y-font-size-24);
    font-family: var(--magentaa11y-font-family-display);
    line-height: var(--magentaa11y-line-height-26);
    text-decoration: underline;
  }

  &--sub-item-description {
    font-weight: var(--magentaa11y-font-weight-regular);
    line-height: var(--magentaa11y-line-height-20);
    font-size: var(--magentaa11y-font-size-16);
  }

  &--sub-item-link {
    color: var(--magentaa11y-color-brand-grayscale-black);
    padding: var(--magentaa11y-spacing-size-48);
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
}
