.MagentaA11y__nav-display {
  --magentaa11y-color--code-blocks: var(--magentaa11y-color-brand-accent-light);

  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 1280px;
  margin: auto;
  padding: 15px;

  &__intro {
    text-align: center;
  }

  &__acceptance-criteria {
    &__actions {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__textarea {
    width: auto;
    resize: vertical;
    padding: 22px 0px 0px 54px;
    min-height: 270px;
    border: 3px solid #eaeaea;
    border-radius: 16px;
  }

  &__other-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    pre {
      width: -webkit-fill-available;
    }

    code {
      background-color: var(--magentaa11y-color--code-blocks);
    }
  }
}
