.MagentaA11y__nav-display {
  max-width: 1280px;
  margin: auto;
  padding: 15px;

  &--title,
  &--general-notes {
    text-align: center;
  }

  &--other-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    pre {
      width: -webkit-fill-available;
    }

    code {
      background-color: var(--magentaa11y-color--code-blocks);
    }
  }
}
