.MagentaA11y__nav-display {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 1280px;
  margin: auto;
  padding: 15px;

  &__intro {
    text-align: center;
  }

  &__acceptance-criteria {
    width: 100%;
    aspect-ratio: 1/1;
    border: solid red 1px;
  }

  &__other-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    pre {
      width: -webkit-fill-available;
    }

    code {
      background-color: var(--magentaa11y-color--code-blocks);
    }
  }
}
