.MagentaA11y__side-nav {
  --side-nav-background-color: #f7f2fa;

  width: fit-content;
  min-width: 226px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--side-nav-background-color);
  padding: 12px;
}
