@import '@material/web/menu/_menu.scss';

.App {
  text-align: center;
}

:root {
  --md-sys-color-primary: #E20074;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #FFD1E4;
  --md-sys-color-on-primary-container: #33001D;
  --md-sys-color-secondary: #00796B;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #A7FFEB;
  --md-sys-color-on-secondary-container: #003B37;
  --md-sys-color-tertiary: #FFB300;
  --md-sys-color-on-tertiary: #3D2800;
  --md-sys-color-tertiary-container: #FFF4CC;
  --md-sys-color-on-tertiary-container: #4A2C00;
  --md-sys-color-error: #D32F2F;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #FFCDD2;
  --md-sys-color-on-error-container: #5A0000;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #212121;
  --md-sys-color-surface: #ffffff;
  --md-sys-color-on-surface: #333333;
  --md-sys-color-surface-variant: #E0E0E0;
  --md-sys-color-on-surface-variant: #4d4d4d;
  --md-sys-color-surface-bright: #FAFAFA;
  --md-sys-color-surface-dim: #E8E8E8;
  --md-sys-color-surface-container: #F5F5F5;
  --md-sys-color-surface-container-lowest: #ECECEC;
  --md-sys-color-surface-container-low: #E2E2E2;
  --md-sys-color-surface-container-high: #CFCFCF;
  --md-sys-color-surface-container-highest: #B3B3B3;
  --md-sys-color-outline: #9E9E9E;
  --md-sys-color-outline-variant: #B0BEC5;
  --md-sys-color-inverse-surface: #212121;
  --md-sys-color-inverse-on-surface: #FAFAFA;
  --md-sys-color-inverse-primary: #FF80AB;
  --md-sys-color-shadow: rgba(0, 0, 0, 0.25);
  --md-sys-color-scrim: rgba(0, 0, 0, 0.5);
  --magentaa11y-color--neutral-lightest: #FAFAFA;
  --magentaa11y-color--neutral-lighter: #F2F2F2;
  --magentaa11y-color--neutral-light: #E0E0E0;
  --magentaa11y-color--neutral: #BDBDBD;
  --magentaa11y-color--neutral-dark: #9E9E9E;
  --magentaa11y-color--neutral-darker: #616161;
  --magentaa11y-color--neutral-darkest: #424242;
  --magentaa11y-color--black: #212121;
  --magentaa11y-color--true-black: #000000;
  --magentaa11y-color--white: #FFFFFF;
}
