@use "./utils/utilities" as *;
@use "./styles/root" as *;

html {
  background-color: var(--color-background);
}

/* General Resets */
body {
  margin: 0;
  font-family: var(--magentaa11y-font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Text Styling */
body,
p,
li,
span,
a,
div,
textarea,
input,
button {
  color: var(--color-text-primary); /* Default text color */
  font-family: var(--magentaa11y-font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--magentaa11y-font-family-header);
  margin: 0;
  color: var(--color-text-primary);
}

/* Line Heights */
h1 {
  line-height: var(--magentaa11y-line-height-50);
}

h2 {
  line-height: var(--magentaa11y-line-height-43);
}

h3,
h4,
h5 {
  line-height: var(--magentaa11y-line-height-34);
}

h6 {
  line-height: var(--magentaa11y-line-height-30);
}

p,
li,
ul,
ol {
  line-height: var(--magentaa11y-line-height-20);
}

ul,
ol {
  padding-left: 20px;
  margin: 0 0 1em 1em;
}

/* Inputs, Buttons, and Textareas */
textarea,
input,
button {
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  border: 3px solid var(--color-input-border);
}

/* Code and Pre */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: var(--color-code-block);
  font-style: italic;

  span {
    color: inherit;
  }
}

pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  padding: 1em;
  overflow-x: auto;
  border-radius: 4px;
  width: -webkit-fill-available;
}
